{% extends 'base.html.twig' %}

{% block title %}Movie-DB{% endblock %}

{% block body %}

{{ form_start(form, {'class': 'form-horizontal'}) }}

    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.titleOrig, 'Original title', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.titleOrig,
                {'attr':
                    {   'class':        'form-control input-sm',
                        'placeholder':  'Enter the original title'
                    }
                })
            }}
            {{ form_errors(form.titleOrig) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.titleDe, 'German title', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.titleDe,
                {'attr':
                    {   'class':        'form-control input-sm',
                        'placeholder':  'Enter the german title'
                    }
                })
            }}
            {{ form_errors(form.titleDe) }}
        </div>        
    </div>

    <div class="form-group">
        {{ form_label(form.year, 'Year', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.year,
                {'attr':
                    {   'class':        'form-control input-sm',
                        'placeholder':  'Enter the year'
                    }
                })
            }}
            {{ form_errors(form.year) }}
        </div>        
    </div>

    <div class="form-group">
        {{ form_label(form.length, 'Movie length', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.length,
                {'attr':
                    {   'class':        'form-control input-sm',
                        'placeholder':  'Enter the length in minutes'
                    }
                })
            }}
            {{ form_errors(form.length) }}
        </div>        
    </div>

    <div class="form-group">
        {{ form_label(form.imdbId, 'IMDB ID', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.imdbId,
                {'attr':
                    {   'class':        'form-control input-sm',
                        'placeholder':  'Enter the IMDB ID'
                    }
                })
            }}
            {{ form_errors(form.imdbId) }}
        </div>        
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        <div class="col-sm-9">
            <div id="fetchomdbinfobutton" class="btn btn-default">Fetch OMDb Info</div>
        </div>
    </div>

{{ form_rest(form) }}
{{ form_end(form) }}

    <script>

        function omdbinfobuttonpressed() {
            var imdb_id = $('#form_imdbId').val();
            $.ajax({
                url: "http://www.omdbapi.com/?",
                dataType: 'json',
                data: { "i": imdb_id, "plot": "short", "r": "json"},
                success: function(response) {
                    //  fill in info in form fields
                    $('#form_titleOrig').val(response.Title);
                    $('#form_length').val(response.Runtime);
                    $('#form_year').val(response.Year);
                }
            });
        }

        $('#fetchomdbinfobutton').on('click', function() {omdbinfobuttonpressed();});

    </script>

{% endblock %}