{% extends 'base.html.twig' %}

{% block title %}Movie-DB :: Tag-Management{% endblock %}

{% block body %}
    <h1>Tags</h1>
    <div class="row">
        <div class="col-sm-6">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p><a class="btn btn-primary" data-toggle="tooltip" title="Create a new tag entry" href="{{ path('newTag') }}">New Tag</a></p>
            {% else %}
                <p>Please <a href="{{ path('fos_user_security_login') }}">login</a> to create a new tag</p>
            {% endif %}

        </div>
    </div>
    <ul class="list-group">
        {% for tag in tags %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-9">
                        <p><div class="btn btn-warning" style="border-color:#{{ tag.color }};background-color:#{{ tag.color }};">{{ tag.name }}</div></p>
                        <ul>
                        {% for movie in tag.getMovies() %}
                            <li>{{ movie.titleOrig }} ({{ tag.getRatingForMovie(movie) }})</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-3 text-right">                        
                        <a class="btn btn-warning" data-toggle="tooltip" title="Modify this tag" href="{{ path('modifyTag', {'id': tag.id }) }}">Modify</a>
                        <a class="btn btn-danger" data-toggle="tooltip" title="Delete this tag from the database" onclick="return confirm('really delete?');" href="{{ path('deleteTag', {'id': tag.id }) }}">Delete</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}